* {
    box-sizing: border-box;
}


/* For mobile phones: */

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    body {
        background-color: rgb(231, 231, 231);
    }
}

@media only screen and (orientation: potrait) {
    body {
        background-color: rgb(231, 231, 231);
    }
}

#header {
    background-color: black;
    color: white;
    width: 100%;
    height: 48px;
}

#redline {
    width: 100%;
}

#mbody {
    height: auto;
    display: block;
}

#img {
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.container-fluid {
    position: relative;
    text-align: center;
    color: black;
    overflow-x: hidden;
}


/* animation */

@keyframes neon {
    from {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
    }
    to {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px rgba(30, 132, 242, 1);
    }
}

#carousel-text1 {
    /* color: rgb(49, 19, 218); */
    font-family: fantasy;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    font-size: large;
}

#carousel-text2 {
    /* color: white; */
    font-family: fantasy;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    font-size: large;
}

#carousel-text3 {
    color: black;
    font-family: fantasy;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    font-size: large;
}

#carousel-text1 a {
    text-decoration: underline;
}

#carousel-text1 a:hover {
    animation: neon .05s ease-in-out infinite alternate;
    cursor: pointer;
}

#carousel-text1 h2 {
    animation: neon .05s ease-in-out infinite alternate;
}

#carousel-text2 a {
    text-decoration: underline;
}

#carousel-text2 a:hover {
    animation: neon .05s ease-in-out infinite alternate;
    cursor: pointer;
}

#carousel-text2 h2 {
    animation: neon .05s ease-in-out infinite alternate;
}

#carousel-text3 a {
    text-decoration: underline;
}

#carousel-text3 a:hover {
    animation: neon .05s ease-in-out infinite alternate;
    cursor: pointer;
}

#carousel-text3 h2 {
    animation: neon .05s ease-in-out infinite alternate;
}


/* Centered text */

.centered1 {
    position: absolute;
    font-size: xxx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered2 {
    position: absolute;
    font-size: 200%;
    font-variant: small-caps;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* #footer {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    text-align: center;
    color: white;
    font-family: Georgia;
} */